In [1]:
#from fuzzywuzzy import process

import matplotlib.pyplot as plt

import requests
import pandas as pd
import fuzzywuzzy
from fuzzywuzzy import fuzz, process
import Levenshtein
import os
import glob

In [2]:
#extracted_df = pd.read_excel('WQ_Graphs.xlsx', sheet_name=None) #'GO.xlsx', sheet_name='Behaviors', index_col='Date')#pd.read_excel('GO.xlsx') #
#extracted_df.columns = map(str.lower, extracted_df.columns)
#extracted_cols = extracted_df.columns
#print(extracted_df.columns)
#for item in extracted_df.keys():

In [3]:
def read_all_excel_cwd():
    
    # Might need to try and str.lower() columns before indexing by date
    # extracted_cols = list(df1['Behaviors'].keys())
    # also need to deal with getting behaviors sheets
#    df = pd.concat(pd.read_excel('2018_Sales_Total.xlsx', sheet_name=None), ignore_index=True)
    extracted_df = pd.DataFrame()
    x=0

    path = os.getcwd()
    excel_files = glob.glob(os.path.join(path, "*.xlsx"))
    print(excel_files)
    
    for file in excel_files:
        print(len(excel_files))
        x += 1
        print('finished ', x, ' files')
        df = pd.concat(pd.read_excel(file, sheet_name=None), ignore_index=True)
        print(df.keys())
        df.append(df)

    extracted_df = df
    extracted_df.columns = map(str.lower, extracted_df.columns)
    extracted_cols = extracted_df.columns #still need to return this later
    
    print('should be df next')
#    print(extracted_df)        
    return extracted_df

#        df.columns = map(str.lower, df.columns)  
#        print(df.columns)

In [4]:
extracted_df = read_all_excel_cwd()

['/home/eyesforcomputers/Scripts/git/DataScienceCapstone2/WQ_Graphs.xlsx', '/home/eyesforcomputers/Scripts/git/DataScienceCapstone2/GO.xlsx']
2
finished  1  files
Index(['Date', 'Non-Compliance', 'Aggression', 'Mouthing', 'Protest',
       'Elopement', 'Screaming', 'Self-Injurous Behavior', 'Unnamed: 4',
       'Crying', 'Off task during 1:1 with teacher', 'Accidents AM',
       'Accidents PM', 'Phase Change', 'Mands', 'Unnamed: 1', 'Target'],
      dtype='object')
2
finished  2  files
Index(['Date', 'Aggression', 'Mouthing', 'Self-Talk', 'Repetitive Behaviors',
       'Screaming', 'Date.1', 'Screaming.1', 'Non-Compliance', 'Self-Injury',
       'Tantrum', 'Repeated Requests', 'Elopement', 'SSB', 'Legibly', 'When',
       'RR-Personal Information', 'Good,Go,Do', 'And,What,Come',
       'Rejection w/o problem behavior', 'Wait 5 minutes', '0 verbal prompts',
       'Attend 5 mins', '2 exchanges with 1 prompt',
       'Engage peer play 5 mins'],
      dtype='object')
should be df next

In [5]:
#  what to do with duplicates
#  maybe just go add them all then drop

# hmmm. maybe i should find master_item in extracted cols, instead of the other way

# Function to take in the columns of extracted_df and match them against defined bx_list
# returns the matches in [extracted column name, % match, proper bx_list name]

def fuzz_match(extracted_cols, bx_list):
    matches = []

    for index, item in enumerate(extracted_cols):
        item = str.lower(item)
    
        for index1, item1 in enumerate(bx_list):
            item1 = str.lower(item1)
        
            if fuzz.partial_ratio(item, bx_list[index1]) >= 70:            
                matches.append((item, fuzz.partial_ratio(item, bx_list[index1]), bx_list[index1]))


    print(matches)
    return matches

In [6]:
extracted_df.columns = map(str.lower, extracted_df.columns)
extracted_cols = extracted_df.columns

In [102]:
# Trying to start assesing threshold between words, using matplotilb

#lets build a df that'll be used for analyzing the matches

#build list of each name and then add the list to the df

# Matches will be a dictionary with proper name as key and the original names as values, then just match values
# and replace the keys

#maybe just use keys and values of a bx dictionary

a_df = pd.DataFrame(columns=[['original_col_name','proper_col_name']])

matches = []

#fuzz_match

for index, item in enumerate(extracted_cols):
    item = str.lower(item)
#    print(item)
    
   
    for index1, item1 in enumerate(bx_list):
        item1 = str.lower(item1)
#        a_df['original_col_name'].append('hi')
#        a_df['proper_col_name'] = item

            
#print(matches)

for index, item in enumerate(extracted_cols):
    item = str.lower(item)
    
    for bx in bx_list:
        
        if fuzz.partial_ratio(item, bx) >= 70:
            print(bx,item, fuzz.partial_ratio(item,bx))
        
            matches.append((item, fuzz.partial_ratio(item, bx_list[index1]), bx_list[index1]))
    
    
#bx_frame[proper_col_name].isin(['nc']).any()

#compare each item from extracted_cols to possible_values in master_dict.items()
#for index, item in enumerate(extracted_cols):
        
    
#    for proper_col_name, possible_values in master_dict.items():
        
#        print( proper_col_name, possible_values,fuzz.partial_ratio(item,possible_values))
#        print(proper_col_name, possible_values)

#Need to use extracted_cols to match using the values

date date 100
aggression aggression 100
screaming screaming 100
date date.1 100
screaming screaming.1 100
non-compliance non-compliance 100
tantrum tantrum 100
date repeated requests 75
elope elopement 100
date attend 5 mins 75

In [84]:
print(extracted_cols[:])

Index(['date', 'aggression', 'mouthing', 'self-talk', 'repetitive behaviors',
       'screaming', 'date.1', 'screaming.1', 'non-compliance', 'self-injury',
       'tantrum', 'repeated requests', 'elopement', 'ssb', 'legibly', 'when',
       'rr-personal information', 'good,go,do', 'and,what,come',
       'rejection w/o problem behavior', 'wait 5 minutes', '0 verbal prompts',
       'attend 5 mins', '2 exchanges with 1 prompt',
       'engage peer play 5 mins'],
      dtype='object')

In [35]:
master_dict.get('aggression')

['aggression', 'agg']

In [23]:
master_dict = {'date': ['date'],'aggression': ['aggression','agg'],'elopement': ['elope','elopement','eloping'],'screaming/yelling': ['screaming', 'yelling','loud'],'non-compliance': ['non-compliance', 'nc'], 'self-injurious': ['self-injurious', 'self-injury', 'sib'],'stereotypy': ['stereotypy']}

In [33]:
if 'sib'  in master_dict['non-compliance']:
    print('yes')

In [7]:
master_cols = ['date','aggression','elopement','screaming/yelling','non-compliance','self-injurious','stereotypy','protest']

bx_list = ['date', 'aggression', 'elope', 'non-compliance', 'nc', 'stereotypy', 'sib', 'yelling', 'screaming', 'tantrum', 'protesting'  ] #'agg','repeated'

In [9]:
#what to do with dupes, but some have the duplicates and the same score
#if any in the tuples have the same last item (the master)


matches = fuzz_match(extracted_cols, bx_list)

[('date', 100, 'date'), ('aggression', 100, 'aggression'), ('screaming', 100, 'screaming'), ('date.1', 100, 'date'), ('screaming.1', 100, 'screaming'), ('non-compliance', 100, 'non-compliance'), ('tantrum', 100, 'tantrum'), ('repeated requests', 75, 'date'), ('elopement', 100, 'elope'), ('attend 5 mins', 75, 'date')]

In [10]:
# goal here is to be able to easily add new names to the df as they come up

bx_frame = pd.DataFrame()
bx_frame['Aggression'] = ['agg', ' aggression']
bx_frame['Elopement'] = 'elope'
bx_frame['Non-compliance'] = ['non-complicance', 'nc']
bx_frame['Self-Injurious'] = ['sib', 'self-injurious']
bx_frame['Stereotypy'] = ['stereotypy', 'repeated']
bx_frame['Protest'] = 'protest'
bx_frame

#bx_frame['Screaming/yelling'] = ['yelling','screaming', 'volume']

    Aggression Elopement   Non-compliance  Self-Injurious  Stereotypy  Protest
0          agg     elope  non-complicance             sib  stereotypy  protest
1   aggression     elope               nc  self-injurious    repeated  protest

In [17]:
# Function that takes in the matches and uses their proper_col_name to add them to the master_df
# need to deal with duplicates, choosing the.... both should point to the same things if there are multiple matches
# will be taken care of with using the bx_frame instead of bx_list
# matching 'date' with 'repeated' is a problem

def add_to_master_df(matches):
    
    print(matches)
        
    for item in matches:
        
#    filter_bx = list(extracted_df.columns.str.contains(item[0]))
#    proper_col_name = extracted_df.columns[filter_bx][0] 
#        print(proper_col_name)#


        original_col_data = extracted_df[item[0]]
        original_col_name = item[0]
        proper_col_name = item[2]
        print(proper_col_name)
        master_df[proper_col_name] = original_col_data 
           

            
    return master_df

In [18]:
master_df = pd.DataFrame()

In [19]:
master_df = add_to_master_df(matches)

[('date', 100, 'date'), ('aggression', 100, 'aggression'), ('screaming', 100, 'screaming'), ('date.1', 100, 'date'), ('screaming.1', 100, 'screaming'), ('non-compliance', 100, 'non-compliance'), ('tantrum', 100, 'tantrum'), ('repeated requests', 75, 'date'), ('elopement', 100, 'elope'), ('attend 5 mins', 75, 'date')]
date
aggression
screaming
date
screaming
non-compliance
tantrum
date
elope
date

In [20]:
master_df.set_index('date')
#master_df.set_index('date')

      aggression  screaming  non-compliance  tantrum  elope
date
NaN          4.0       25.0            31.0      0.0    NaN
NaN         17.0       38.0            43.0      0.0    NaN
NaN          2.0       35.0            21.0      0.0    NaN
NaN          0.0       29.0             0.0      0.0    NaN
NaN          0.0        0.0            21.0      0.0    NaN
...          ...        ...             ...      ...    ...
NaN          NaN        NaN             NaN      NaN    NaN
NaN          NaN        NaN             NaN      NaN    NaN
NaN          NaN        NaN             NaN      NaN    NaN
NaN          NaN        NaN             NaN      NaN    NaN
NaN          NaN        NaN             NaN      NaN    NaN

[462 rows x 5 columns]

In [21]:
master_df = master_df.set_index('date')

In [22]:
master_df

      aggression  screaming  non-compliance  tantrum  elope
date
NaN          4.0       25.0            31.0      0.0    NaN
NaN         17.0       38.0            43.0      0.0    NaN
NaN          2.0       35.0            21.0      0.0    NaN
NaN          0.0       29.0             0.0      0.0    NaN
NaN          0.0        0.0            21.0      0.0    NaN
...          ...        ...             ...      ...    ...
NaN          NaN        NaN             NaN      NaN    NaN
NaN          NaN        NaN             NaN      NaN    NaN
NaN          NaN        NaN             NaN      NaN    NaN
NaN          NaN        NaN             NaN      NaN    NaN
NaN          NaN        NaN             NaN      NaN    NaN

[462 rows x 5 columns]

In [19]:
#df_master = pd.DataFrame(index=['date'], columns=master_cols)

In [20]:
df1 = pd.read_excel('GO.xlsx', sheet_name=None)

In [21]:
df_index = pd.read_excel('GO.xlsx', sheet_name='Behaviors', index_col='Date')

In [22]:
missing = pd.concat([df1['Behaviors'].isnull().sum(), 100 * df1['Behaviors'].isnull().mean()], axis=1)

In [23]:
missing.columns=['Count','%']

In [24]:
missing.sort_values(by='Count', ascending=False)

                      Count          %
Mouthing                 30  71.428571
Self-Talk                30  71.428571
Repetitive Behaviors     30  71.428571
Screaming                30  71.428571
Elopement                30  71.428571
SSB                      30  71.428571
Screaming.1              12  28.571429
Date                      0   0.000000
Aggression                0   0.000000
Date.1                    0   0.000000
Non-Compliance            0   0.000000
Self-Injury               0   0.000000
Tantrum                   0   0.000000
Repeated Requests         0   0.000000

https://towardsdatascience.com/string-matching-with-fuzzywuzzy-e982c61f8a84
Need function to move through the bx_list and use process.extract on each.

hmm that means that each iteration though the list it could find the same options