In [1]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
from fuzzywuzzy import fuzz, process
import Levenshtein
import os
import glob

import pandas_profiling
from pandas_profiling.utils.cache import cache_file
import re

In [2]:
df = pd.read_excel('Clean_SBA_AppointmentList.xlsx', index_col=0)

In [3]:
print(df.columns)
print(df.shape)

Index(['Day', 'Client', 'Staff Member', 'Duration'], dtype='object')
(6139, 4)

In [4]:
df.sample(3)

            Day Client Staff Member  Duration
Date
2021-06-11  Fri     LC     staff_28      2.00
2021-07-13  Tue     RH     staff_14      3.00
2021-03-30  Tue     CM      staff_3      1.83

In [5]:
# From cleaning the data previously
#
# Select appointments with tag "ABA therapy"
# df = df[df['Appointment Tag'] == 'ABA therapy']
# df.shape

In [6]:
# removed 'Time' from list
cols_to_keep = ['Date','Day', 'Time', 'Client', 'Staff Member', 'Duration']
df.dtypes

Day              object
Client           object
Staff Member     object
Duration        float64
dtype: object

In [8]:
# Create df with needed columns
#appointment_list = df[cols_to_keep]
#appointment_list['Time'] = str(appointment_list['Time'])
#appointment_list.shape

In [9]:
# removed rows containing blacklisted names and generated new .xlsx
# 
blacklist = ['Jackson Hurley', 'Joseph Garland', 'Jeffrey Hamilton', 'Jack Howerter','Caleb Miller','Connor Dube']
al = appointment_list[appointment_list.Client.isin(blacklist) == False ]
# a = al[al.Client.str.startswith('J') == True] 
# al.to_excel('New_SBA_AppointmentList.xlsx')

a = al[al.Client.str.startswith('C') == True]
a['Client'].unique()

NameError: name 'appointment_list' is not defined

dtype('O')

In [11]:
# From cleaning the data previously
#
# Strip out spaces and make initials to join other sheets to

df['Client'] = df['Client'].str.replace(' ','')
df['Client'] = df['Client'].str.replace('[a-z]', '', regex=True)

client_number=1
unique_client= df['Client'].unique()

for i in unique_client:
    df['Client'] = df['Client'].str.replace(i,'client_' + str(client_number), regex=True)
    client_number += 1

In [14]:
df.head()

            Day    Client Staff Member  Duration
Date
2021-07-16  Fri  client_1      staff_1      0.75
2021-07-16  Fri  client_2      staff_2      4.00
2021-07-16  Fri  client_1      staff_3      1.50
2021-07-16  Fri  client_3      staff_1      0.75
2021-07-16  Fri  client_4      staff_4      2.25

In [11]:
appointment_list

,Date,Day,Time,Client,Staff Member,Duration
2.0,2021-07-16,Fri,2.0 06:00 PM -08:00 PM\n4.0 02:30 PM -05...,client_1,Jessie Williams,0.75
4.0,2021-07-16,Fri,2.0 06:00 PM -08:00 PM\n4.0 02:30 PM -05...,client_2,Joanna Benshoof,4.00
5.0,2021-07-16,Fri,2.0 06:00 PM -08:00 PM\n4.0 02:30 PM -05...,client_1,Sara Clark,1.50
6.0,2021-07-16,Fri,2.0 06:00 PM -08:00 PM\n4.0 02:30 PM -05...,client_3,Jessie Williams,0.75
7.0,2021-07-16,Fri,2.0 06:00 PM -08:00 PM\n4.0 02:30 PM -05...,client_4,Tyler Morehead,2.25
...,...,...,...,...,...,...
NaN,NaT,NaN,2.0 06:00 PM -08:00 PM\n4.0 02:30 PM -05...,NaN,NaN,NaN
NaN,NaT,NaN,2.0 06:00 PM -08:00 PM\n4.0 02:30 PM -05...,NaN,NaN,NaN
NaN,NaT,NaN,2.0 06:00 PM -08:00 PM\n4.0 02:30 PM -05...,NaN,NaN,NaN
NaN,NaT,NaN,2.0 06:00 PM -08:00 PM\n4.0 02:30 PM -05...,NaN,NaN,NaN
NaN,NaT,NaN,2.0 06:00 PM -08:00 PM\n4.0 02:30 PM -05...,NaN,NaN,NaN

In [ ]:
appointment_list

In [ ]:
# Now join the datasets together
# I want join all of the appointment information to the bx and have a new df

#think i need to individually merge sheets the appointment list, otherwise ther will be duplicate index dates

In [15]:
df.to_excel('111Clean_SBA_AppointmentList.xlsx')