In [15]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
from fuzzywuzzy import fuzz, process
import Levenshtein
import os
import glob

import pandas_profiling
from pandas_profiling.utils.cache import cache_file
import re

In [16]:
df = pd.read_excel('Dirty_SBA_AppointmentList.xlsx', index_col=0)

In [17]:
print(df.columns)
print(df.shape)

Index(['Date', 'Day', 'Client', 'Staff Member', 'Duration'], dtype='object')
(6139, 5)

In [18]:
df.head(3)

        Date  Day            Client     Staff Member  Duration
2 2021-07-16  Fri  Gabriel Moreland  Jessie Williams      0.75
4 2021-07-16  Fri     Robert Miller  Joanna Benshoof      4.00
5 2021-07-16  Fri  Gabriel Moreland       Sara Clark      1.50

In [5]:
# From cleaning the data previously
#
# Select appointments with tag "ABA therapy"
# df = df[df['Appointment Tag'] == 'ABA therapy']
# df.shape

In [6]:
# removed 'Time' from list
cols_to_keep = ['Date','Day', 'Client', 'Staff Member', 'Duration']

In [7]:
# Create df with needed columns
appointment_list = df[cols_to_keep]
appointment_list.shape

(6139, 5)

In [19]:
# removed rows containing blacklisted names and generated new .xlsx
# 
blacklist = ['Jackson Hurley', 'Joseph Garland', 'Jeffrey Hamilton', 'Jack Howerter']
al = appointment_list[appointment_list.Client.isin(blacklist) == False ]
# a = al[al.Client.str.startswith('J') == True] 
# al.to_excel('New_SBA_AppointmentList.xlsx')

In [20]:
# From cleaning the data previously
#
# Strip out spaces and make initials to join other sheets to

appointment_list['Client'] = appointment_list['Client'].str.replace(' ','')
appointment_list['Client'] = appointment_list['Client'].str.replace('[a-z]', '', regex=True)

# randomize staff names then export final appointment list to join on
staff_number=1
unique_staff = appointment_list['Staff Member'].unique()

for i in unique_staff:
    appointment_list['Staff Member'] = appointment_list['Staff Member'].str.replace(i,'staff_' + str(staff_number), regex=True)
    staff_number += 1
    
print(appointment_list['Staff Member'].unique())

['staff_1' 'staff_2' 'staff_3' 'staff_4' 'staff_5' 'staff_6' 'staff_7'
 'staff_8' 'staff_9' 'staff_10' 'staff_11' 'staff_12' 'staff_13'
 'staff_14' 'staff_15' 'staff_16' 'staff_17' 'staff_18' 'staff_19'
 'staff_20' 'staff_21' 'staff_22' 'staff_23' 'staff_24' 'staff_25'
 'staff_26' 'staff_27' 'staff_28' 'staff_29' 'staff_30' 'staff_31'
 'staff_32' 'staff_33' 'staff_34' 'staff_35' 'staff_36' 'staff_37'
 'staff_38' 'staff_39' 'staff_40' 'staff_41' 'staff_42' 'staff_43'
 'staff_44' 'staff_45' 'staff_46' 'staff_47' 'staff_48' 'staff_49'
 'staff_50' 'staff_51' 'staff_52' 'staff_53' 'staff_54' 'staff_55'
 'staff_56' 'staff_57']

In [21]:
appointment_list.to_excel('Clean_SBA_AppointmentList.xlsx')