In [1]:
import matplotlib.pyplot as plt
import requests
import pandas as pd
from fuzzywuzzy import fuzz, process
import Levenshtein
import os
import glob

import pandas_profiling
from pandas_profiling.utils.cache import cache_file

In [2]:
def read_all_excel_cwd():

    extracted_df = pd.DataFrame()

    path = os.getcwd()
    excel_files = glob.glob(os.path.join(path, "*.xlsx"))
    
    print(excel_files)
    
    for file in excel_files:
        print(len(excel_files))

        df = pd.concat(pd.read_excel(file, sheet_name=None), ignore_index=True)
        print(df.keys())
        extracted_df = extracted_df.append(df)

    extracted_df.columns = map(str.lower, extracted_df.columns)
    extracted_cols = extracted_df.columns 
    extracted_df = extracted_df.set_index('id')
    
    print('should be df next')
      
    return extracted_df, extracted_cols

In [3]:
extracted_df, extracted_cols = read_all_excel_cwd()

['/home/eyesforcomputers/Scripts/git/CapstoneEDA/cleaned/RM.xlsx', '/home/eyesforcomputers/Scripts/git/CapstoneEDA/cleaned/WQ.xlsx', '/home/eyesforcomputers/Scripts/git/CapstoneEDA/cleaned/CD.xlsx', '/home/eyesforcomputers/Scripts/git/CapstoneEDA/cleaned/CM.xlsx', '/home/eyesforcomputers/Scripts/git/CapstoneEDA/cleaned/JHi.xlsx', '/home/eyesforcomputers/Scripts/git/CapstoneEDA/cleaned/GE.xlsx', '/home/eyesforcomputers/Scripts/git/CapstoneEDA/cleaned/GV.xlsx', '/home/eyesforcomputers/Scripts/git/CapstoneEDA/cleaned/EM.xlsx', '/home/eyesforcomputers/Scripts/git/CapstoneEDA/cleaned/PS.xlsx', '/home/eyesforcomputers/Scripts/git/CapstoneEDA/cleaned/GO.xlsx']
10
Index(['date', 'aggression', 'elope', 'ID'], dtype='object')
10
Index(['date', 'aggression', 'elope', 'non-compliance', 'protesting', 'sib',
       'ID'],
      dtype='object')
10
Index(['date', 'aggression', 'elope', 'non-compliance', 'ID'], dtype='object')
10
Index(['date', 'aggression', 'elope', 'sib', 'ID'], dtype='object')
10
Index(['date', 'aggression', 'elope', 'non-compliance', 'protesting', 'sib',
       'ID'],
      dtype='object')
10
Index(['date', 'aggression', 'elope', 'protesting', 'ID'], dtype='object')
10
Index(['date', 'aggression', 'elope', 'non-compliance', 'ID'], dtype='object')
10
Index(['date', 'aggression', 'elope', 'non-compliance', 'sib', 'ID'], dtype='object')
10
Index(['date', 'aggression', 'elope', 'non-compliance', 'ID'], dtype='object')
10
Index(['date', 'aggression', 'non-compliance', 'ID'], dtype='object')
should be df next

In [4]:
extracted_df

                    date  aggression  elope  non-compliance  protesting  sib
id
RM   2021-01-04 00:00:00         0.0    1.0             NaN         NaN  NaN
RM   2021-01-21 00:00:00         4.0    0.0             NaN         NaN  NaN
RM   2021-01-25 00:00:00         0.0    0.0             NaN         NaN  NaN
RM   2021-01-26 00:00:00         4.0    0.0             NaN         NaN  NaN
RM   2021-01-27 00:00:00         0.0    0.0             NaN         NaN  NaN
..                   ...         ...    ...             ...         ...  ...
NaN  2021-05-24 00:00:00         NaN    NaN             NaN         NaN  NaN
NaN  2021-05-25 00:00:00         NaN    NaN             NaN         NaN  NaN
NaN  2021-05-26 00:00:00         NaN    NaN             NaN         NaN  NaN
NaN  2021-05-27 00:00:00         NaN    NaN             NaN         NaN  NaN
NaN  2021-05-28 00:00:00         NaN    NaN             NaN         NaN  NaN

[10024 rows x 6 columns]

In [5]:
extracted_df = extracted_df.loc[extracted_df.index.notnull()]
extracted_df.index.names = ['Client']



extracted_df.sample(10)

,date,aggression,elope,non-compliance,protesting,sib
Client,,,,,,
GV,2021-04-08 00:00:00,3.0,0.0,0.0,NaN,NaN
GE,2021-06-16 00:00:00,1.0,6.0,NaN,70.0,NaN
EM,2021-07-01 00:00:00,0.0,0.0,0.0,NaN,0.0
CM,2021-02-09 00:00:00,0.0,0.0,NaN,NaN,0.0
GV,2021-04-23 00:00:00,1.0,0.0,6.0,NaN,NaN
CM,2021-01-04 00:00:00,0.0,0.0,NaN,NaN,0.0
GV,2021-03-11 00:00:00,9.0,3.0,3.0,NaN,NaN
GV,2021-03-22 00:00:00,0.0,5.0,2.0,NaN,NaN
GE,2021-07-21 00:00:00,1.0,6.0,NaN,63.0,NaN
GO,2021-04-01 00:00:00,4.0,NaN,31.0,NaN,NaN

In [6]:
extracted_df.to_excel('bx_sheets_merged.xlsx')